body, ul, li,p  {
	margin: 0px;
	padding: 0px;
    font-size: 30px;
    list-style: none;

}

body {
    font-family: Roboto;
    color: #222222;
}

a {
	text-decoration: none;
}

img {
    max-width: 100%;
	display: block;
}


* {
	box-sizing: border-box;
}




.header {
	display: flex; /*mexer o display flex*/
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 15px;
    align-items: center;
    margin: 0 auto

}

.menu {
    display: flex;
}

.menu li {
    margin-left: 30px;
    font-size: 30px;
    flex-wrap: wrap;
}

#login {
    background: #D6000D;
    margin: 20px auto;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    padding: 8px 60px;
    text-align: center
}
.menu a {
    margin: 0 auto;
    color: black;
    
}
.menu a:hover{
    color: rgb(129, 129, 129);
}

.menu-logo a {
    font-size: 1.80em;
    color: #D6000D;
    font-weight: bold;
    font-style: italic;
    margin: 0 auto;
}



.orcamento{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px;
    margin: 100px;
}

.orcamento-info {
    flex-wrap: wrap;
    padding: 100px;
}
.orcamento p{
    font-weight: bold;
    font-size: 20px;
}
.orcamento h1 {
    margin: 0 auto;
    color: #D6000D;    font-weight: bold;
    font-size: 100px;
}

.orcamento-info a {
    background: #D6000D;
    color: white;
    border-radius: 10px;
    padding: 8px 60px;
}
.orcamento img {
    max-width: 700px;
}

@media  (max-width: 750px) {
    .header {
        margin-left: -15px;
        max-width: 800px;
        padding: 80px;
    }
    .menu-logo a {
        display: block;
        margin: 0 auto;
        margin-left: 150px;
    }
    .orcamento img {
        max-width: 450px;
        margin-left: -50px;
    }
    .orcamento-info p {
        margin-left: -50px;
    }
    .orcamento-info h1 {
        margin-left: -100px;        
        font-size: 100px;
    }
    .orcamento-info a {
        font-size: 30px;
        margin-left: -150px;
    }
  }